<header>
    <h1 class="landing-header">Trivia Blanca Leaderboard</h1>
</header>

<main>
    <div>
        <div>
            <div class="leaderboard-entry">
                <p>1</p>
                <p>Justin (But he cheated)</p>
                <p class="leaderboard-entry-date">9/6/24</p>
            </div>
            <div class="leaderboard-entry">
                <p>2</p>
                <p>Rebecca and Emily</p>
                <p class="leaderboard-entry-date">9/7/24</p>
            </div>
        </div>
    </div>
    <div>
        <button class="restart-game-button" (click)="restartGame()">Restart</button>
    </div>
</main>
