<header>
    <h1 class="landing-header">Congratulations, Champion!</h1>
</header>

<main>
    <div class="congrats">
        <h2>You’ve Completed All The Levels!</h2>
        <div class="about">
            <p>Thanks so much for playing!</p>
            <p>I had a lot of fun putting this together, please let me know what you thought of it! I may end up making a second round of levels</p>
            <p>If you text me the phrase "Pythagoras was wrong all along" I'll put you on the leaderboard!</p>
        </div>
    </div>
    <div class="restart-or-leaderboard">
        <button class="restart-game-button" (click)="restartGame()">Play Again</button>
        <button class="leaderboard-button" (click)="sendToLeaderboard()">Leaderboard</button>
    </div>
</main>