<header>
    <h1 class="landing-header">Welcome to Trivia Blanca!</h1>
</header>

<main>
    <div class="about">
        <h2>Rules/Things to Know</h2>
        <div class="rules">
            <p>1: You can use any resources you want, including other people.
                However, nobody is obligated to answer you or tell the truth!</p>
            <p>2: The answers are not case (or space) sensitive, but they do need to be spelled exactly correctly, or be in the correct format.
                I will do my best to make that formatting obvious, but if you think you have the right answer and it isn't working, feel free to contact me!</p>
            <p>3: Everything on the page can potentially be a clue, including the URL. This means that browsers like
                Safari might be harder to use, because they don't show the entire URL!
            </p>
            <p>4: There is no way to save progress. When you get to a new level, it may be worth
                bookmarking or writing down the URL so you can get back to it if you need to!</p>
            <p>5: There are some obscure questions, you will not know the answers to all of them.
                Asking other people is recommended if you get stuck!
            </p>
            <p>6: If you get really stuck, feel free to ask for a hint!</p>
        </div>
    </div>
    <button (click)="startGame()" class="start-game">Get Started</button>
</main>
