button {
    margin: 0.5em;
}

.landing-header {
    margin-top: 2.5em;
}

.start-game {
    margin-bottom: 2em;
}

@media (max-width: 768px) {
    .landing-header {
        margin-top: 0.5em;
        font-size: 2em; 
    }
}