<div>
    <h1 class="question-number">21</h1>
    <p>Lltgi ujx zdlc xvdlxtai foxh vwhhss?</p>
    <img src="../../images/clave.jpg" class="question-picture">
    <div class="input-submit">
      <input type="text" class="answer-input" placeholder="Your answer here..." #answerInput (keydown.enter)="checkAnswer(answerInput.value)">
      <button class="submit-btn" (click)="checkAnswer(answerInput.value)">Submit</button>
      <p class="hint">/beaufort</p>
      <p class="wrong-answer-text">{{wrongAnswerText}}</p>
    </div>
</div>
